bin/
obj/
release/
.vs/
*.user
*.suo
[Dd]ebug/
[Rr]elease/
x64/
x86/
build/
bld/
[Bb]in/[Oo]bj/
MSBuild.log
*.binlog
artifacts/
publish/
*.aps
*.ilk
*.meta
*.ncb
*.opendb
*.opensdf
*.sdf
*.cachefile
*.VC.db
TestResults/
*.coverage
*.vspx
AppPackages/
BundleArtifacts/
*.appx
*.appxbundle
*.appxupload
*.msix
*.msixbundle
*.msixupload
xunit.runner.json
coverage/
*.nuget.props
*.nuget.targets
project.lock.json

docs/rytunex-reference/
